<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test my first temp</title>
</head>
<body>
{% if all_security_list %}
    <table CELLPADDING="1" cellspacing="0" border="1">
    {% for BasicInfo in all_security_list %}
        <td><a href="/security/{{ BasicInfo.id }}/">{{ BasicInfo.code }}</a></td><td>{{ BasicInfo.name }}</td><td><a href="http://{{ BasicInfo.webSite }}" target="_blank"> {{ BasicInfo.webSite }}</a></td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>