<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ perforType }}</title>
</head>
<body>
    <a href="/security/" target="_blank">返回首页</a>
    <table CELLPADDING="1" cellspacing="0" border="1">
    {% for forcast in page_obj %}
        <tr><td width="8%">公司网站</td><td width="5%"><a href="http://{{ forcast.code.webSite }}" target="_blank">{{ forcast.code.code  }}</a></td>
        <td  width="8%">证券名称</td><td width="8%">{{ forcast.name }}</td><td width="8%">公告日期</td><td width="8%">{{ forcast.annDate }}</td><td width="8%">申万二级行业</td><td width="8%"> {{ forcast.trade }}</td>
        <td width="8%">报告年度</td><td> {{ forcast.annPeriod }}</td><td width="8%">业绩类型</td><td width="15%"> {{ forcast.perforType }}</td></tr>
        <tr><td height="120">业绩预告内容</td><td colspan="11"> {{ forcast.perforContent }}</td></tr>
        <tr><td height="120">业绩报告原因</td><td colspan="11"> {{ forcast.changeReason }}</td></tr>
        <tr><td>历史入选原因</td><td colspan="11"> <table CELLPADDING="1" cellspacing="0" border="1">
        <tr><td>入选原因</td><td>入选时间</td></tr>
            {% for myfavorite in forcast.code.myfavorite_set.all %}
                <tr><td width="800">{{ myfavorite.myReason }}</td><td width="200">{{ myfavorite.addtime | date:"Y-m-d H:i:s" }}</td></tr>
            {% endfor %}
            </table>
        <tr>
            <td>入选原因：</td><td  colspan="11"><form action="{% url 'security:addReason' %}" method="post" id="form1" target="nm" >
    <input type="hidden" name="code" id="code"  value="{{ forcast.code.code  }}">{% csrf_token %}
             <input name="fid" id="fid"  value="{{ forcast.id  }}">
    <input style="width: 600px"  type="text" name="myReason" id="myReason" value="">
    <input id="btn3" type="submit" value="提交">
            </form>

        <form action="{% url 'security:kanguo' %}" method="post" id="form2" target="nm" >
    <input name="fid" id="fid"  value="{{ forcast.id  }}">{% csrf_token %}
    <input type="submit" value="看过">
            </form>
        </td>
        </tr>
    {% endfor %}
    </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    <script>
        $("#btn3").on('click',function(){
            $('body').append('<p class="tip">提交中</p>');
            $('#form1').submit();
        })
    </script>


</body>
</html>
