<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资理财导航页</title>
</head>
<body>
<ul>
    {% for perforType in all_perforType_list %}
    <li><a href="{% url 'security:forcast' perforType.name %}" target="_blank">{{ perforType.name }}</a></li>
    {% endfor %}
<li><a href="{% url 'security:bannianbao' '半年报' %}" target="_blank">查询半年报</a></li>
<li><a href="{% url 'security:toreason' %}" target="_blank">只查询有入选原因的</a></li>
<li><a href="{% url 'security:tosearch' %}" target="_blank">按照公司代码或名称查询</a></li>
</ul>
</body>
</html>