<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的股票池</title>
</head>
<body>
 <table CELLPADDING="1" cellspacing="0" border="1">
    {% for basicinfo in page_obj %}
        <tr><td colspan="3">------------------------------------------------------------------</td></tr>
        <tr><td><a href="http://{{ basicinfo.webSite }}" target="_blank">{{ basicinfo.name }}</a></td>
            <td colspan="2">
                <form action="addReason" method="post"  id="form1" target="nm">
    <input type="hidden" name="code" id="code"  value="{{ basicinfo.code }}">{% csrf_token %}
    入选原因更新：<input style="width: 600px"  type="text" name="myReason" id="myReason" value="">
    <input type="submit" value="提交">
                </form>


            </td></tr>
        <tr><td>股票代码</td><td>入选原因</td><td>入选时间</td></tr>
     {% for myfavorite in basicinfo.myfavorite_set.all %}
         <tr><td width="50">{{ myfavorite.code }}</td><td width="800">{{ myfavorite.myReason }}</td><td width="200">{{ myfavorite.addtime | date:"Y-m-d H:i:s" }}

                 <form action="{% url 'security:deleteMyfavorate' %}" method="post" id="form2" target="nm" >
    <input type="hidden"  name="fid" id="fid"  value="{{ myfavorite.id  }}">{% csrf_token %}
    <input type="submit" value="删除自选原因">
            </form>

         </td></tr>
     {% endfor %}
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


    <script>
        $("#btn3").on('click',function(){
            $('body').append('<p class="tip">提交中</p>');
            $('#form1').submit();
        })
    </script>


</body>
</html>