<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test my first temp</title>
</head>
<body>
    <table CELLPADDING="1" cellspacing="0" border="1">
    {% for forcast in page_obj %}
        <tr><td>证券代码</td><td><a href="/security/{{ forcast.id }}/">{{ forcast.code }}</a></td></tr>
        <tr><td>证券代码</td><td>{{ forcast.name }}</td></tr>
        <tr><td>申万二级行业</td><td> {{ forcast.trade }}</td></tr>
        <tr><td>报告年度</td><td> {{ forcast.annPeriod }}</td></tr>
        <tr><td>业绩类型</td><td> {{ forcast.perforType }}</td></tr>
        <tr><td>业绩预告内容</td><td> {{ forcast.perforContent }}</td></tr>
        <tr><td>业绩报告原因</td><td> {{ forcast.changeReason }}</td></tr>
        <tr><td>增长上限</td><td> {{ forcast.upperLimit }}</td></tr>
        <tr><td>增长下限</td><td> {{ forcast.lowerLimit }}</td></tr>
    {% endfor %}
    </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>